html {
	background-image: url("images/background.png");
	background-size: cover;
	background-repeat: repeat;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Cascadia Code';
	width: 100%;
	max-width: 100%;
	height: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	padding-right: calc(100vw - 100%);
}



.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: left;
	max-width: 400px;
	/* Change this as needed */
}

@media screen and (min-width: 768px) {
	body {
		align-items: flex-start;
	}
	.content-wrapper {
		width: 100%;
		max-width: 100%;
		
		flex-direction: column;
		justify-content: flex-start;
		/* Align items to the left */
		align-items: flex-start;
		/* Align items to the top */
	}
}

@media screen and (min-width: 769px) and (min-height: 601px) {
		.content-wrapper {
			max-width: 100%;
			flex-direction: row;
		}
	}

@media screen and (max-width: 767px) {
	.content-wrapper {
	  width: 100%;
	}
  }




.imageLogo {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.default-button {
	width: auto;
	height: 36px;
	padding: 0 16px;
	color: white;
	font-weight: bold;

	background-color: rgb(0, 17, 255);
	cursor: pointer;
	font-size: 14px;
	border-width: 2px;
	border-color:black;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	margin: 5px;
}

.default-button-red {
	border-width: 2px;
	border-color:black;
	border-radius: 10px;
	width: auto;
	height: 36px;
	padding: 0 16px;
	color: white;
	font-weight: bold;
	background-color: rgb(247, 40, 40);
	cursor: pointer;
	font-size: 14px;
	border: none;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	margin: 5px;
}

.default-button-green {
	border-width: 2px;
	border-color:black;
	border-radius: 10px;
	width: auto;
	height: 36px;
	padding: 0 16px;
	color: black;
	font-weight: bold;
	background-color: rgb(0, 255, 0);
	cursor: pointer;
	font-size: 14px;
	border: none;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	margin: 5px;
}
.default-button:hover {
	background-color: rgb(0, 130, 210);
}

.default-button-red:hover {
	background-color: rgb(195, 10, 10);
}

.default-button-green:hover {
	background-color: rgb(7, 201, 1);
}

p.default-text {
	width: 150px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	font-style:bold;
	color: black;
}

div.input-container label {
	max-width:100%;
	background-color: rgb(255, 0, 0);
	border-radius: 10px;
	padding:10px 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

input.input-string-label {
	width: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 10px;
	outline: none;
	border-color: #ff0000;
}

input.input-number-label {
	width: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 10px;
	outline: none;
	border-color: #ff0000;;
}

div.add-elements {
	display:flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: rgb(0, 154, 197);
	border-radius: 20px;
	padding:10px 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: black;

}

.remove-category-button {
	width: 74px;
	height: 36px;
	color: black;
	font-weight: bold;
	background-color: rgb(255, 216, 0);
	cursor: pointer;
	margin-left: 4px;
	margin-right: 4px;
	font-size: 12px;
	border-radius: 10px;
	float: right;
	transition: background-color 0.3s ease;
	justify-content: center;
}

.remove-category-button:hover {
	background-color: rgb(151, 132, 27);
}


.remove-button {
	width: 74px;
	height: 18px;
	color: black;
	font-weight: bold;
	background-color: rgb(226, 51, 51);
	cursor: pointer;
	margin-left: 4px;
	margin-right: 4px;
	font-size: 12px;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	float: right;
}

.remove-button:hover {
	background-color: rgb(162, 35, 35);
}

#json-functions {
	max-width: 650px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ff2600;
	border-radius: 20px;
	padding: 10px 20px;
}

.json-button-functions {
	display: flex;
}

.json-input-format {
	width: 100% ;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}



.score-span {
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-title {
	max-width: 650px;
	margin-top: 15px;
	color: blue;
	font-style: normal;
	align-items: center;
	justify-content: center;
	border-style: dashed;
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
}

.title {
	justify-content: center;
	width: auto;
	font-family: monospace;
	margin-top: 50px;
	color: black;
	font-style: normal;
	display: flex;
	align-items: center;
}

.title-buttons {
	margin-top: 50px;
	color: blue;
	font-style: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 20px;
}

.bubble {
	max-width:100%;
	background-color: rgb(89, 243, 115);
	border-radius: 20px;
	padding:10px 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

select.default-select {
	width: 24px;
	height: 50px;
	padding: 5px;
	border-radius: 10px;
	outline: none;
	border-color: #ff0000;
	border-width: 2px;
}

.boxed {
	width: 100%;
	max-width: fit-content;
	background-color: rgb(174, 222, 40);
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
}

#grade-stats {
	max-width: fit-content;
	height:auto;
	font-size: 15px;
	width: 250px;
	background-color: rgb(84, 220, 0);
	border-radius: 20px;
	
}



#assignment-list {
	flex: 1 0 auto;
	padding: 10px 20px;
	text-align: left;
	max-width: 650px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	list-style-type: circle;
	float: right;
	background-color: rgb(4, 185, 10);
	border-radius: 20px;
}

#categoryDropdown {
	min-width: 100px;
}

#jsonH {
	text-align: center;
	color: white;
}

#goal-setting {
	max-width: fit-content;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #FF6347;
	border-radius: 20px;
	padding: 10px 20px;
}

#json-goals {
	display: flex;
	max-width: 100%;


}

#add-category {
	box-sizing: border-box;
	max-width:fit-content;
	background-color:#ff9d00;
	border-radius: 20px;
	flex: 0 0 auto;

}

#add-assignment {
	box-sizing: border-box;
	background-color: #ff9d00;
	border-radius: 20px;
	flex: 0 0 auto;
}